server:
  port: 1111

spring:
    datasource:
        name: test
        url: jdbc:mysql://118.25.36.41:3306/winterdb
        username: root
        password: 5236320
        # 使用druid数据源
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.jdbc.Driver
        filters: stat
        maxActive: 20
        initialSize: 1
        maxWait: 60000
        minIdle: 1
        timeBetweenEvictionRunsMillis: 60000
        minEvictableIdleTimeMillis: 300000
        validationQuery: select 'x'
        testWhileIdle: true
        testOnBorrow: false
        testOnReturn: false
        poolPreparedStatements: true
        maxOpenPreparedStatements: 20
    thymeleaf:
        cache: false
        check-template-location: true
        content-type: text/html
        enabled: true
        encoding: UTF-8
        excluded-view-names:
        mode: LEGACYHTML5
        prefix: classpath:/templates/
        suffix: .html
        template-resolver-order:
    redis:
        host: 127.0.0.1
        port: 6379
        pool:
          max-active: 8
          max-wait: -1
          max-idle: 8
          min-idle: 0
        timeout: 24000
    aop:
       proxy-target-class: true
    http:
       multipart:
        enabled: true
        max-file-size: 50mb
        max-request-size: 50mb

mybatis:
  mapper-locations: classpath:sql-mapper/*.xml
  type-aliases-package: com.winterchen.model

#pagehelper分页插件
pagehelper:
    helperDialect: mysql
    reasonable: false
    supportMethodsArguments: true
    params: count=countSql

swagger:
  enabled: true

